{% extends "_layout.twig" %}

{% if pagetitle != 'Main Page' %}
	{% set title = pagetitle %}
{% endif %}

{% if revision %}
	{% set noindex = true %}
{% endif %}
{% set pagename = '/wiki/' ~ pagetitle_slugified %}

{% block footer %}
	{% if page.content %}
		This page was last modified on {{ page.time | date('Y-m-d H:m') }} by {{ page.u_name }}
	{% endif %}
{% endblock %}

	{% block content %}
{% if pagetitle == 'Main Page' %}
	<h1>{{ config.title }}</h1>
{% else %}
	<h1>{{ pagetitle }}</h1>
{% endif %}

{% if page.content %}
	{% if revision %}
		<p><em>Old revision #{{ revision }} from {{ page.time | date('Y-m-d H:m') }} by {{ userlink(page, 'u_') }}.</em>
			(<a href="/wiki/{{ pagetitle_slugified }}">Go to current revision</a>)</p>
	{% endif %}

	{{ page.content | markdown_wiki }}
{% else %}
	<p>This page does not exist. Would you like to create it?</p>
{% endif %}

	{% endblock %}
